body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#canvas {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Add shadow */
}

nav{
  font-family: "Proza Libre", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center; 
}

#nav-left{
  font-size: 1.25rem;
  color: black;
  font-weight: bold;
}
#nav-left a {
  color: black;
}

#nav-right{
  justify-content: center;
  align-content: center;
}
#nav-right li{
  display: inline-block;
}
#nav-right a {
  color: black;
}

#bio {
  display: flex;
  flex-wrap: wrap;
}

#bio-short {
  flex: 2;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  /* Styles for small devices */
  #bio {
    flex-direction: column;
  }
}

#bio-photo {
  flex: 1;
  text-align: center;
}

#bio-photo img {
  max-height: 300px;
}

#projects ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0;       /* Remove default padding */
  font-size: 1.2rem;
  font-weight:bold;
}

#projects ul li {
  cursor: pointer; /* or cursor: hand; */
}

#projects li::before {
  content: "\279C";  /* Unicode character for right-pointing arrow */
  padding-right: 0.5em; /* Add some space between the arrow and the text */
}

#projects p {
  display: none;
  font-weight: normal;
  font-size: 1rem;
}

#projects #skills-container{
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
}